.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 6rem; */
    min-height: 100vh;
    padding-top: 1rem;
    text-align: left;
  }

.blogItemh3{
    cursor: pointer;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    
}

.container{
    padding: 0 22rem;
}