.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    padding-top: 3rem;
  }

.blogItemh3{
    cursor: pointer;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    
}

.container{
    padding: 0 22rem;
}